header{
   display: flex;
   align-content: center;
   justify-content: space-between;
   padding: 10px -50px 10px 10px;
   margin: 10px 10px -40px 10px;


}

.redes{
width: 35px;
align-items: center;
padding: 2px;
margin-right: 30px;

}

.logo{
   width: 300px;
 
}

.sociales{   
      align-items: center;
   display:flex;
   justify-content:right
}





.e{
   display: flex;
}


nav{
   display: flex;
   flex-direction: row;
   background-color: black;
   justify-content: left;
}


.b{
   display: flex;
   flex-direction: row;
   background-color: black;
   justify-content:left;

}

nav a{
   font-size: 130%;
   color: #fff;
   padding: 1% 2%;
   text-decoration: none;
}


nav a:hover{

   background-color: rgb(170, 9, 9)

}

h1{
   padding: 12px;
   background-color: black;
   font-size: 22px;
   color: white;
   margin: 20px;
}





nav b{

   font-size: 130%;
   color: #fff;
   padding: 1% 2%;
   text-decoration: none;

}


.c{

   font-size: 130%;
   color: #fff;
   padding: 1% 2%;
   text-decoration: none;
   justify-content: left;

}


.videos{

   display: flex;
   justify-content: space-between;
   margin: 1%;
   
}




.flex-contenedor{
   display: flex;
   flex-wrap: wrap;
}

aside{
   flex: 30px;
   background-color: beige;
   padding: 3%;
}



/*diseño responsivo*/
@media screen and (max-width:400px){
   nav, .flex-contenedor{
       flex-direction: column;
       align-items: center;
   }
}




.Lokii{
    margin: auto;
}

img{

width: 100%;

}

body{

    background-color: rgb(173, 1, 1);
   




}
 

 
 .banner{

    max-width: 100%;
    height: 500px;

 }
 .imagen3{

    width: 50%;
 }

 

 .mb-3{

   width: 50%;
 }

 .btn {

   background-color: black;
 }

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: black;
}

.card{

border-radius: 0px;
border-color:  rgb(170, 9, 9);

}





.card-group{

padding: 20px;

}



.card-text{

   color: black;
   
}





a{

   background-color: black;
   color: white;
   font-size: 20px;
   text-decoration: none;
   padding: 7px;
   border-radius: 5px;  
} 

a:hover{
   background-color:rgb(173, 1, 1);

}





footer{

display: flex;
justify-content: space-between;
   background-color: black;
   align-items: center;
  

}

p{
color: white;
text-align: left;
padding: 30px;
}


h2{

color: white;
}

.btn-enviar:hover{

   background-color: rgb(173, 1, 1);
}

.videos{
   margin: 0;
   background-color: rgb(202, 121, 0);
   padding: 70px;
}

h6{
   
   background-color:rgb(202, 121, 0);
   display: flex;
   flex-direction: row;
   font-size: 25px;
  padding: 12px 12px 12px 60px;
   justify-content: left;
   color: white;
  margin: 0px 0px -20px 0px;
}

.pie{

   text-align: right;
}


.carousel-inner{

height: 650px;

}


button{
background-color: black;
color: white;
padding: 9px;
border: none;
border-radius: 5px;
}

button:hover{

   background-color: rgb(212, 7, 7);
   color: white;
   border-radius: 5px;
}